@font-face {
    font-family: 'lemon_milkbold';
    src: url('./assets/fonts/lemonmilk-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: auto;
    text-align: center;
    font-family: 'lemon_milkbold'
}

h2 {
    text-transform: uppercase;
    font-size: 3rem;
}

ol {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;

}


ul {
    list-style: none;
    padding: 10px;
}

a {
    color: white;
}

main {
    margin-top: 250px;
    opacity: 0;
    animation: fade-in 1s ease-in forwards;

}

textarea {
    text-align: center;
    font-size: 30px;
}

.main-title {
    color: rgb(253, 3, 153)
}

.topic-main {

    margin-top: 375px;
    opacity: 0;
    animation: fade-in 1s ease-in forwards;

}

.loading-message {
    margin-top: 300px;
    color: black;
}

.nav-list {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 17%;
    text-transform: uppercase;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 9999;
}

.nav-list::-webkit-scrollbar {
    width: 0;
    background: transparent;
}


.nav-list-item {
    width: 10%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-top: 75px;

}

.nav-list-logo img {
    height: 15rem;

}

.nav-list-search {
    margin: auto;
    width: 50%;

}

.navbar-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-right: 75px;
    text-transform: uppercase;
}

.navbar-avatar img {
    width: 75px;
    height: 75px;
    object-fit: contain;
    background-color: white;
    border-radius: 50%;
}

.navbar-avatar p {
    margin-top: 5px;

}

.article_image {
    width: 30em;
    height: 30em;
    object-fit: cover;
}

.article-author {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bolder;
}

.article-title {
    text-transform: uppercase;
    font-size: 3em;
    color: rgb(253, 3, 153);
}

.article-body {
    font-size: 2em;
}

.article-votes {
    font-size: 2em;
}

.comment-title {
    font-size: 3em;
    text-transform: uppercase;
}

.comment-body {
    font-size: 1.8em;
}

.comment-author {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bolder;
}


.vote-icon {
    height: 1em;
    width: 1em;
}

.vote-button {
    width: 5%;
    height: 50px;
    font-size: 30px;
    background-color: black;
    border-radius: 10px;
    border: none;
}

.vote-button:hover {
    background-color: rgb(253, 3, 153);
    transition: 0.5s;
}

.users-avatar {
    height: 50%
}

.home-logo {
    height: 25rem;
    margin: auto;
}

.home-title {
    font-size: 5rem;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .nav-list-item {
        width: 25%;
    }
}


#delete-button {
    background-color:#FF00A1 ; 
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 12px;
    border-style: none;
    font-size: 1.2rem;
}
#delete-button:hover{
    background-color:#000000;
    color: white;
    transition: 1s;

}

@media (max-width: 480px) {
    .nav-list {
        height: auto;
        padding: 10px 5px;
    }

    .nav-list-item {
        width: 50%;
        font-size: 18px;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* display: grid;
    grid-template-columns: auto auto auto auto;
    list-style: none;
    background-color: rgb(0, 0, 0);
    text-transform: uppercase;
    color: white;
    padding-top: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 17%; */

